<html><!DOCTYPE html>
<html lang="ja">
 <head>
 <meta charset="utf-8">
 <title>Pokemon Battle Assistant</title>
 <meta name="description" content="ディスクリプションを入力">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="../static/css/style.css">
 <!-- [if lt IE 9] -->
 </head>
 <body>
 <!----- header----->
 <header></header>
 <nav></nav>
 <!----- /header ----->
 
 <!----- main ----->
 <main>
 <h1>Pokemon Battle Assistant</h1>
 <section>
 <h2>相手のポケモン</h2>
 <form autocomplete="off">  
<table>
 <tr><th>相手のポケモン</th><th>画像</th><th>選出</th></tr>
 <tr><th><input type="text" name="en_pokemon1" placeholder="相手のポケモン1" size="20" id="en_poke1" class="poke"></th><th><img src="" id="en_poke1_img" class="poke_img"><p id="en_poke1_info" class="poke_info"></p></th><th><button class="en_btn" type="button" id='en1'>未選出</button><input type="hidden" name="en_pokemon_select1" value="未選出" id="en_select1"></th></tr>
 <tr><th><input type="text" name="en_pokemon2" placeholder="相手のポケモン2" size="20" id="en_poke2" class="poke"></th><th><img src="" id="en_poke2_img" class="poke_img"><p id="en_poke2_info" class="poke_info"></p></th><th><button class="en_btn" type="button" id='en2'>未選出</button><input type="hidden" name="en_pokemon_select2" value="未選出" id="en_select2"></th></tr>
 <tr><th><input type="text" name="en_pokemon3" placeholder="相手のポケモン3" size="20" id="en_poke3" class="poke"></th><th><img src="" id="en_poke3_img" class="poke_img"><p id="en_poke3_info" class="poke_info"></p></th><th><button class="en_btn" type="button" id='en3'>未選出</button><input type="hidden" name="en_pokemon_select3" value="未選出" id="en_select3"></th></tr>
 <tr><th><input type="text" name="en_pokemon4" placeholder="相手のポケモン4" size="20" id="en_poke4" class="poke"></th><th><img src="" id="en_poke4_img" class="poke_img"><p id="en_poke4_info" class="poke_info"></p></th><th><button class="en_btn" type="button" id='en4'>未選出</button><input type="hidden" name="en_pokemon_select4" value="未選出" id="en_select4"></th></tr>
 <tr><th><input type="text" name="en_pokemon5" placeholder="相手のポケモン5" size="20" id="en_poke5" class="poke"></th><th><img src="" id="en_poke5_img" class="poke_img"><p id="en_poke5_info" class="poke_info"></p></th><th><button class="en_btn" type="button" id='en5'>未選出</button><input type="hidden" name="en_pokemon_select5" value="未選出" id="en_select5"></th></tr>
 <tr><th><input type="text" name="en_pokemon6" placeholder="相手のポケモン6" size="20" id="en_poke6" class="poke"></th><th><img src="" id="en_poke6_img" class="poke_img"><p id="en_poke6_info" class="poke_info"></p></th><th><button class="en_btn" type="button" id='en6'>未選出</button><input type="hidden" name="en_pokemon_select6" value="未選出" id="en_select6"></th></tr>
 
 <p>自分のポケモン</p>
 <tr><th>自分のポケモン</th><th>選出</th></tr>
 <tr><th><input type="text" name="my_pokemon1" placeholder="自分のポケモン1" size="20" id="my_poke1" class="poke"></th><th><img src="" id="my_poke1_img" class="poke_img"><p id="my_poke1_info" class="poke_info"></p></th><th><button class="my_btn" type="button" id='my1'>未選出</button><input type="hidden" name="my_pokemon_select1" value="未選出" id="my_select1"></th></tr>
 <tr><th><input type="text" name="my_pokemon2" placeholder="自分のポケモン2" size="20" id="my_poke2" class="poke"></th><th><img src="" id="my_poke2_img" class="poke_img"><p id="my_poke2_info" class="poke_info"></p></th><th><button class="my_btn" type="button" id='my2'>未選出</button><input type="hidden" name="my_pokemon_select2" value="未選出" id="my_select2"></th></tr>
 <tr><th><input type="text" name="my_pokemon3" placeholder="自分のポケモン3" size="20" id="my_poke3" class="poke"></th><th><img src="" id="my_poke3_img" class="poke_img"><p id="my_poke3_info" class="poke_info"></p></th><th><button class="my_btn" type="button" id='my3'>未選出</button><input type="hidden" name="my_pokemon_select3" value="未選出" id="my_select3"></th></tr>
 <tr><th><input type="text" name="my_pokemon4" placeholder="自分のポケモン4" size="20" id="my_poke4" class="poke"></th><th><img src="" id="my_poke4_img" class="poke_img"><p id="my_poke4_info" class="poke_info"></p></th><th><button class="my_btn" type="button" id='my4'>未選出</button><input type="hidden" name="my_pokemon_select4" value="未選出" id="my_select4"></th></tr>
 <tr><th><input type="text" name="my_pokemon5" placeholder="自分のポケモン5" size="20" id="my_poke5" class="poke"></th><th><img src="" id="my_poke5_img" class="poke_img"><p id="my_poke5_info" class="poke_info"></p></th><th><button class="my_btn" type="button" id='my5'>未選出</button><input type="hidden" name="my_pokemon_select5" value="未選出" id="my_select5"></th></tr>
 <tr><th><input type="text" name="my_pokemon6" placeholder="自分のポケモン6" size="20" id="my_poke6" class="poke"></th><th><img src="" id="my_poke6_img" class="poke_img"><p id="my_poke6_info" class="poke_info"></p></th><th><button class="my_btn" type="button" id='my6'>未選出</button><input type="hidden" name="my_pokemon_select6" value="未選出" id="my_select6"></th></tr>
 </table>
 
 <input type="radio" name="winorlose" value="win"> 勝利
<input type="radio" name="winorlose" value="lose"> 敗北<br>
 <input type="submit" value="送信">
</form>
 </section>
 </main>
 <!----- /main ----->
 
 <!----- footer ----->
 <footer></footer>
 <!----- /footer ----->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- これをjQueryの後に読み込ませる-->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 <script src="../static/js/main.js"></script>


 </body>
</html>