<html><!DOCTYPE html>
<html lang="ja">
 <head>
 <meta charset="utf-8">
 <title>Pokemon Battle Assistant</title>
 <meta name="description" content="ディスクリプションを入力">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="../static/css/style.css">
 <!-- [if lt IE 9] -->
 </head>
 <body>
 <!----- header----->
 <header></header>
 <nav></nav>
 <!----- /header ----->
 
 <!----- main ----->
 <main>
 <h1>Pokemon Battle Assistant</h1>
 <section>
  <div>
    <img src="../static/img/poke-ball.png" id="en_poke1" class="poke_img">
    <img src="../static/img/poke-ball.png" id="en_poke2" class="poke_img">
    <img src="../static/img/poke-ball.png" id="en_poke3" class="poke_img">
    <img src="../static/img/poke-ball.png" id="en_poke4" class="poke_img">
    <img src="../static/img/poke-ball.png" id="en_poke5" class="poke_img">
    <img src="../static/img/poke-ball.png" id="en_poke6" class="poke_img">
  </div>

  <div id="en_poke1_info" class="info">
    <input type="text" name="en_pokemon1" placeholder="相手のポケモン1" size="20" id="en_poke1_input" class="poke"><button class="en_btn" type="button" id='en1'>未選出</button><input type="hidden" name="en_pokemon_select1" value="未選出" id="en_select1">
    <div id ="en_poke1_output">

    </div>
  </div>
  <div id="en_poke2_info" class="info">
    <input type="text" name="en_pokemon1" placeholder="相手のポケモン2" size="20" id="en_poke2_input" class="poke"><button class="en_btn" type="button" id='en2'>未選出</button><input type="hidden" name="en_pokemon_select1" value="未選出" id="en_select1">
  </div>
  <div id="en_poke3_info" class="info">
    <input type="text" name="en_pokemon1" placeholder="相手のポケモン3" size="20" id="en_poke3_input" class="poke"><button class="en_btn" type="button" id='en3'>未選出</button><input type="hidden" name="en_pokemon_select1" value="未選出" id="en_select1">
  </div>
  <div id="en_poke4_info" class="info">
    <input type="text" name="en_pokemon1" placeholder="相手のポケモン4" size="20" id="en_poke4_input" class="poke"><button class="en_btn" type="button" id='en4'>未選出</button><input type="hidden" name="en_pokemon_select1" value="未選出" id="en_select1">
  </div>

  <div>
    <img src="../static/img/poke-ball.png" id="my_poke1" class="poke_img">
    <img src="../static/img/poke-ball.png" id="my_poke2" class="poke_img">
    <img src="../static/img/poke-ball.png" id="my_poke3" class="poke_img">
    <img src="../static/img/poke-ball.png" id="my_poke4" class="poke_img">
    <img src="../static/img/poke-ball.png" id="my_poke5" class="poke_img">
    <img src="../static/img/poke-ball.png" id="my_poke6" class="poke_img">
  </div>

 </section>
 </main>
 <!----- /main ----->
 
 <!----- footer ----->
 <footer></footer>
 <!----- /footer ----->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- これをjQueryの後に読み込ませる-->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 <script src="../static/js/main.js"></script>


 </body>
</html>